<h2 class="text-left"> Cadastre Agora!</h2>

<img src="../../assets/elogroup.png" class="img-fluid p-2" alt="elogroup-logo">

<form [formGroup]="signUpForm" class="form mt-4" (submit)="signup()">
    <div class="form-group">
        <input 
            formControlName="userName"
            placeholder="Nome" 
            class="form-control" 
            autofocus
        >
        <ap-vmessage
            text="Nome de usuário já existente"
            *ngIf="signUpForm.get('userName').errors?.userNameTaken">
        </ap-vmessage>
        <small *ngIf="signUpForm.get('userName').valid" class="text-success">Nome de usuário disponível</small>
    </div>

    <div class="form-group">
        <input 
            formControlName="password"
            placeholder="Senha" 
            class="form-control"
        >
        <small
            *ngIf="signUpForm.get('password').errors?.required"
            class="text-danger d-block mt-2">
            Password deve possuir pelo menos 8 caracteres, contendo ao
menos, um caracter especial, um caracter numérico, um caracter
alfanumérico!
        </small>
    </div>

    <div class="form-group">
        <input 
            formControlName="confirmPassword"
            placeholder="Confirmação de Senha" 
            class="form-control"
        >
        <small
            *ngIf="signUpForm.get('confirmPassword').errors?.required"
            class="text-danger d-block mt-2">
            A confirmação de senha é obrigatória!
        </small> 
    </div>

    <button [disabled]="signUpForm.invalid || signUpForm.pending" class="btn btn-primary btn-block" >Cadastrar</button>
    
    <p>Já é usuário?<a [routerLink]="['']">Entre aqui!</a></p>
</form>